<section id="about" class="about-widget py-6 px-6 lg:px-20 mt-8 mx-0 lg:mx-20 bg-primary-50 dark:bg-surface-900">
    <div
        pAnimateOnScroll
        enterClass="animate-fadein"
        leaveClass="animate-fadeout"
        [threshold]="0.3"
        [once]="false"
        class="relative h-screen animate-duration-1000 animate-ease-linear"
    >
        <div class="grid grid-cols-12 gap-4 justify-center">
            <div class="col-span-12 text-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum assumenda explicabo voluptates ea,
                    veritatis possimus, vero omnis nesciunt dignissimos mollitia animi, quo perspiciatis sapiente
                    aspernatur asperiores porro ratione voluptatibus cum!
                </p>
            </div>
        </div>
    </div>
</section>
